body{
margin:0;
font-family:Arial;
background:#f5f6fa;
}

.sidebar{
width:230px;
height:100vh;
background:#2f3640;
color:white;
position:fixed;
padding:20px;
}

.sidebar a{
display:block;
color:white;
padding:10px;
text-decoration:none;
cursor:pointer;
}

.sidebar a:hover{
background:#353b48;
}

.main{
margin-left:250px;
padding:20px;
}

.cardBox{
background:rgb(216, 19, 19);
padding:20px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.dark{
background:#111;
color:rgb(206, 18, 18);
}

.page{
display:none;
}

#map{
height:350px;
border-radius:10px;
}
/* AI Chatbot Styles */
#aiChatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 9999;
  font-family: Arial, sans-serif;
}

#chatHeader {
  background: #3498db;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#chatBody {
  height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #ccc;
}

#chatInput {
  width: 65%;
  padding: 8px;
  border: none;
  border-top: 1px solid #ccc;
}

#aiChatbot button {
  width: 30%;
  padding: 8px;
  border: none;
  background: #3498db;
  color: white;
  cursor: pointer;
}

#aiChatbot button:hover {
  background: #2c80b4;
}